body {
    background: #92bde7;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1em;
}

span{
    color: white;
}

.container{
    width:90%;
    margin: auto;
  }

img{
display: block;
margin-left: auto;
margin-right: auto;
}

h3{
position: relative;
}
.presentation {
    width: 40%;
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2em;
    overflow: hidden;
    box-sizing: border-box;
    display:inline-block;
}


.formulaire {

    background: #bed9f5 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2em;
    box-sizing: border-box;
    overflow: hidden;
    display:inline-block;
    width: 59%;
    height: 89%;
}

 ul{
    list-style: none;
 }


 textarea{
     height: 10%;
     width: 50%;
 }

 input{
     height: 10%;
     width:50%;
     display: inline-block;
 }

Track{
    display: inline;
    padding: 2px
}